﻿@model bigcommerce_returns.Data.ApplicationConfiguration
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BigCommerce Returns Application Configuration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/jambuReturns/Content/normalize.css">
    <link rel="stylesheet" href="/jambuReturns/Content/bootstrap.css">
    <link rel="stylesheet" href="/jambuReturns/Content/main.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BigCommerce Returns Application</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/jambuReturns/BigCommerce/load?signed_payload=@ViewBag.payload">Return Requests</a>
                    </li>
                    <li class="active">
                        <a href="/jambuReturns/BigCommerce/config?payload=@ViewBag.payload">Application Configuration</a>
                    </li>
                    <li>
                        <a href="/jambuReturns/Report?payload=@ViewBag.payload">Reports</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-messages">
            <p class="bg-success" style="display:none;">Application configuration has been saved.</p>
            <p class="bg-danger" style="display:none;">Error occurred during application configuration save process.</p>
        </div>
        <div class="page-header">
            <h1>Application Configuration</h1>
        </div>
        <form method="post">
            <div class="form-group">
                <h3>UPS Configuration</h3>
            </div>
            <div class="form-group">
                <label for="user-id">User Id:</label>
                <input type=""
                       class="form-control"
                       id="user-id"
                       name="UserID" value="@if(@Model != null) {@Model.UpsCredentials.Email}"
                       placeholder="User Id">
            </div>
            <div class="form-group">
                <label for="user-id">Password:</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       value="@if (@Model != null) {@Model.UpsCredentials.Password}"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <label for="access-license-number">Access License Number:</label>
                <input type="text"
                       class="form-control"
                       id="access-license-number"
                       name="AccessLicenseNumber"
                       value="@if (@Model != null) {@Model.UpsCredentials.AccessLicenseNumber}"
                       placeholder="Access License Number">
            </div>
            <div class="form-group">
                <label for="account-number">Access Number:</label>
                <input type="text"
                       class="form-control"
                       id="account-number"
                       name="AccountNumber"
                       value="@if(@Model != null) {@Model.UpsCredentials.AccountNumber}"
                       placeholder="Account Number">
            </div>
            <div class="form-group">
                <h3>Return Address Configuration</h3>
            </div>
            <div class="form-group">
                <label for="address-name">Name:</label>
                <input type="text"
                       class="form-control"
                       id="address-name"
                       name="Name"
                       placeholder="Name"
                       value="@if(@Model != null) {@Model.Address.AccountName}">
            </div>
            <div class="form-group">
                <label for="phone-number">Phone Number:</label>
                <input type="text"
                       class="form-control"
                       id="phone-number"
                       name="tel"
                       placeholder="Phone Number"
                       value="@if(@Model != null) {@Model.Address.Telephone}">
            </div>
            <div class="form-group">
                <label for="address-line-1">Address Line 1:</label>
                <input type="text"
                       class="form-control"
                       id="address-line-1"
                       name="address1"
                       placeholder="Address Line 1"
                       value="@if(@Model != null) {@Model.Address.Address1}">
            </div>
            <div class="form-group">
                <label for="address-line-1">Address Line 2:</label>
                <input type="text"
                       class="form-control"
                       id="address-line-2"
                       name="address2"
                       placeholder="Address Line 2"
                       value="@if(@Model != null) {@Model.Address.Address2}">
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text"
                       class="form-control"
                       id="city"
                       name="city"
                       placeholder="City"
                       value="@if(@Model != null) {@Model.Address.City}">
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text"
                       class="form-control"
                       id="state"
                       name="State"
                       placeholder="State"
                       value="@if (@Model != null) {@Model.Address.State}">
            </div>
            <div class="form-group">
                <label for="postal-code">Postal code:</label>
                <input type="text"
                       class="form-control"
                       id="postal-code"
                       name="zip"
                       placeholder="Postal code"
                       value="@if(@Model != null) {@Model.Address.Zip}">
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control"
                        id="country"
                        name="country">
                    <option value="" selected="selected">---</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua and Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia and Herzegowina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, the Democratic Republic of the</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Cote d'Ivoire</option>
                    <option value="HR">Croatia (Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="TP">East Timor</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="FX">France, Metropolitan</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard and Mc Donald Islands</option>
                    <option value="VA">Holy See (Vatican City State)</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran (Islamic Republic of)</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KP">Korea, Democratic People's Republic of</option>
                    <option value="KR">Korea, Republic of</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Lao People's Democratic Republic</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libyan Arab Jamahiriya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia, Federated States of</option>
                    <option value="MD">Moldova, Republic of</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Antilles</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint LUCIA</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome and Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia (Slovak Republic)</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SH">St. Helena</option>
                    <option value="PM">St. Pierre and Miquelon</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen Islands</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syrian Arab Republic</option>
                    <option value="TW">Taiwan, Province of China</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania, United Republic of</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Viet Nam</option>
                    <option value="VG">Virgin Islands (British)</option>
                    <option value="VI">Virgin Islands (U.S.)</option>
                    <option value="WF">Wallis and Futuna Islands</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
            <div class="form-group">
                <h3>Reports Configuration</h3>
            </div>
            <div class="form-group">
                <label for="ftp-username">Username:</label>
                <input type="text"
                       class="form-control"
                       id="ftp-username"
                       name="ftp-username"
                       placeholder="Username"
                       value="@if (@Model != null)
                                                                 {@Model.FtpCredentials.FtpUsername
                                                                 }">
            </div>
            <div class="form-group">
                <label for="ftp-password">Password:</label>
                <input type="text"
                       class="form-control"
                       id="ftp-password"
                       name="ftp-password"
                       placeholder="Password"
                       value="@if (@Model != null)
                                                                 {@Model.FtpCredentials.FtpPassword
                                                                 }">
            </div>
            <div class="form-group">
                <label for="ftp-url">Url:</label>
                <input type="text"
                       class="form-control"
                       id="ftp-url"
                       name="ftp-url"
                       placeholder="Url"
                       value="@if (@Model != null)
                                                                 {@Model.FtpCredentials.FtpUrl
                                                                 }">
            </div>
            <div class="form-group">
                <label for="ftp-path">Path:</label>
                <input type="text"
                       class="form-control"
                       id="ftp-path"
                       name="ftp-path"
                       placeholder="Path"
                       value="@if (@Model != null)
                                                                 {@Model.FtpCredentials.FtpPath
                                                                 }">
            </div>

            <button type="submit"
                    class="btn btn-lg btn-primary">
                Save
            </button>
        </form>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">BigCommerce Returns Application.</p>
        </div>
    </footer>
    <script src="/jambuReturns/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function submitForm() {
                $.ajax({
                    type: 'post',
                    url: 'https://ecommerce.vidagroup.com/jambuReturns/api/config/update',
                    dataType: "jsonp",
                    data: {
                        account: $('#account-number').val(),
                        access: $('#access-license-number').val(),
                        email: $('#user-id').val(),
                        pass: $('#password').val(),
                        country: $('#country option:selected').val(),
                        address1: $('#address-line-1').val(),
                        address2: $('#address-line-2').val(),
                        city: $('#city').val(),
                        state: $('#state').val(),
                        zip: $('#postal-code').val(),
                        telephone: $('#phone-number').val(),
                        emailToReport: $('#report-email').val(),
                        name: $('#address-name').val(),
                        ftp_username: $('#ftp-username').val(),
                        ftp_password: $('#ftp-password').val(),
                        ftp_path: $('#ftp-path').val(),
                        ftp_url: $('#ftp-url').val(),
                        payload: '@ViewBag.payload'
                    },
                    success: function () {
                        $('.bg-success').show();
                    },
                    error: function () {
                        $('.bg-danger').show();
                    }
                });
                //http://requestb.in/1fumsfi1
                window.scrollTo(0, 0);

                return false;
            }

            $('form').on('submit', submitForm);
        });
    </script>
</body>
</html>