﻿@using bigcommerce_returns.Data
@using PagedList
@using PagedList.Mvc
@model  bigcommerce_jambu_returns.ViewModels.ReturnViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BigCommerce Returns Application List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jambuReturns/Content/normalize.css">
    <link rel="stylesheet" href="/jambuReturns/Content/bootstrap.css">
    <link rel="stylesheet" href="/jambuReturns/Content/main.css">
    <link rel="stylesheet" href="/jambuReturns/Content/BigCommerceReturnsView-open_sans.css">
    <link rel="stylesheet" href="https://cdn5.bigcommerce.com/shared/css/source_sans_pro-4ba4f672ef1c272f146b1f6f7d97485bfec7f896.css">
    <link rel="stylesheet" href="https://cdn5.bigcommerce.com/shared/css/control_panel-1cadc19d02cdd522d7329003f703028e89e1163f.css">
    <link rel="stylesheet" href="~/Content/BigCommerceReturnsView-control_panel.css">
    <link rel="stylesheet" href="https://cdn5.bigcommerce.com/shared/bower/ng-common-v1/dist/css/ng-common.min-cbfbe6f4810a5063e6496230bc343cd8733e239a.css">
    <link rel="stylesheet" href="/jambuReturns/Content/BigCommerceReturnView-ng-common.css">
    <link rel="stylesheet" href="https://cdn5.bigcommerce.com/shared/bower/ng-shipments/dist/css/ng-shipments.min-9fbd08a83d83e55d091a6b846301be171f1bebea.css">
    <link rel="stylesheet" href="/jambuReturns/Content/BigCommerceReturnsView-ng-shipments.css">

    <link href="/jambuReturns/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn5.bigcommerce.com/shared/js/Modernizr-8fc0659006ae244dbb0786fb4ce3008041b2a68b.js"></script>
</head>

<body class="cp2">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BigCommerce Returns Application</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/jambuReturns/BigCommerce/load?signed_payload=@ViewBag.payload">Return Requests</a>
                    </li>
                    <li>
                        <a href="/jambuReturns/BigCommerce/config?signed_payload=@ViewBag.payload">Application Configuration</a>
                    </li>
                    <li>
                        <a href="/jambuReturns/Report?payload=@ViewBag.payload">Reports</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="content fixed-width" role="main">
        <div id="wrap">
            <h1>View Return Requests</h1>
            @{
                try
                {
                    if (Model == null || Model.ReturnOrders.Count == 0 || Model.PagedProducts == null)
                    {
                        <div class="alert alert-error">
                            <i class="icon icon-error-sign"></i>
                            <p>No returns found.</p>
                        </div>
                    }
                }
                catch
                {
                    <div class="alert alert-error">
                        <i class="icon icon-error-sign"></i>
                        <p>No returns found. Please try again.</p>
                    </div>
                }

            }

            <ul class="nav nav-pills">
                <li>
                    <a href="/jambuReturns/BigCommerce/load?signed_payload=@ViewBag.payload">All Returns</a>
                </li>
            </ul>
            <div class="action-bar">
                <ul class="list-horizontal action-divider">
                    <li>
                        <button class="btn btn-secondary btn-icon-large" role="button" onclick="Delete()"><i class="icon icon-trash large"></i></button>
                    </li>
                </ul>
                <div class="action-divider field-append filter">
                    <form action="/jambuReturns/BigCommerce/load" method="get" class="gridSearchForm"
                          role="search">
                        <input type="hidden" name="signed_payload" value=" @ViewBag.payload " />
                        <label for="search-query" class="hide-visually">
                            Filter by Keyword
                        </label>
                        <input type="text" class="field-small" id="search-query"
                               name="searchQuery" value=""
                               placeholder="Filter by Keyword" />
                        <button type="button" class="btn-inline clear-filter">
                            <span class="hide-visually">Clear filter</span>
                        </button>
                        <button type="submit" class="btn btn-secondary">
                            <i class="icon icon-filter"></i>
                            Filter
                        </button>
                    </form>
                </div>
            </div>
            <form name="returns" id="returns-index" method="post" action="/jambuReturns/api/orders/deleteOrder">

                <button id="IndexDeleteButton" class="btn btn-secondary hide-visually" data-cancel="Please choose one or more returns to delete." data-confirm="Are you sure you want to delete the selected returns requests?" data-checkbox-varname="returns[]" role="button" name="SaveContinueButton1">Delete Selected</button>

                <table id="order-returns" class="GridPanel tbl tbl-stripe tbl-border tbl-admin" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="select" scope="col">
                                <input id="select-all" name="select-all" type="checkbox">
                                <label for="select-all">
                                    <span class="hide-visually"></span>
                                </label>
                            </th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col" nowrap>
                                <button type="button" onclick="Sort()">
                                    Return ID <i class="icon icon-chevron-down"></i>
                                </button>
                            </th>

                            <th scope="col" nowrap>
                                <a>
                                    Returned Item <i class="icon icon-chevron-"></i>
                                </a>
                            </th>
                            <th scope="col" nowrap>
                                <a>
                                    Order # <i class="icon icon-chevron-"></i>
                                </a>
                            </th>
                            <th scope="col" nowrap>
                                <a>
                                    Customer <i class="icon icon-chevron-"></i>
                                </a>
                            </th>
                            <th scope="col" nowrap>
                                <a>
                                    Date <i class="icon icon-chevron-"></i>
                                </a>
                            </th>
                            <th scope="col" nowrap>
                                <a>
                                    Status <i class="icon icon-chevron-"></i>
                                </a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{if (Model.ReturnOrders.Count != 0)
                            {
                                foreach (Return returnOrder in Model.ReturnOrders)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="returns[]" id="@returnOrder.ReturnId" value="@returnOrder.ReturnId" class="DeleteCheck">
                                            <label for="@returnOrder.ReturnId"></label>
                                        </td>
                                        <td>
                                            <button class="clickme" type="button" onclick="ToggleCollapsed(@returnOrder.ReturnId)">
                                                <i class="icon icon-plus-sign"></i>
                                                <span class="hide-visually">Toggle</span>
                                            </button>
                                        </td>
                                        <td>@returnOrder.ReturnId</td>
                                        <td>
                                            @returnOrder.Quantity x <a href="@ViewBag.storeUrl@returnOrder.Url" target="_blank">@returnOrder.Name</a>

                                            <div style="margin-top: 3px; padding-left: 10px;">(Color : @returnOrder.Color , Size : @returnOrder.Size)</div>
                                        </td>
                                        <td>
                                            <a href="@ViewBag.storeUrl/manage/orders?keywords=@returnOrder.OrderId">#@returnOrder.OrderId </a>
                                        </td>
                                        <td>
                                            <a href="@ViewBag.storeUrl/manage/customers?keywords=@returnOrder.Customer">@returnOrder.Customer</a>
                                        </td>
                                        <td>
                                            @returnOrder.Date
                                        </td>
                                        <td>
                                            <select name="return_status_@{@returnOrder.ReturnId}" id="status_@{@returnOrder.ReturnId}" data-returnid="@returnOrder.ReturnId" data-initial-status="@returnOrder.Status" class="field-small returnStatusSelect">
                                                <option value="1" @if (@returnOrder.Status == "Approved") { @Html.Raw(@"selected=" + "selected")  }> Approved </option>
                                                <option value="2" @if (@returnOrder.Status == "Completed") { @Html.Raw("selected=" + "selected")  }> Completed </option>
                                                <option value="3" @if (@returnOrder.Status == "Canceled") { @Html.Raw("selected=" + "selected")  }> Canceled </option>
                                            </select>
                                        </td>

                                    </tr>
                                                                                                <tr class="collapsible is-collapsed@{@returnOrder.ReturnId} is-collapsed">
                                                                                                    <td colspan="10">
                                                                                                        <div class="collapsible-inner quickview cf">

                                                                                                            <fieldset class="f-left form-horizontal">

                                                                                                                <legend>
                                                                                                                    <span><h2>Return Details</h2></span>
                                                                                                                </legend>

                                                                                                                <div class="field">
                                                                                                                    <label for="reason">Reason for Return:</label>
                                                                                                                    <div class="field-group">
                                                                                                                        <input type="text" id="reason" value="@returnOrder.Reason" readonly="readonly">
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="field">
                                                                                                                    <label for="action">Requested Action:</label>
                                                                                                                    <div class="field-group">
                                                                                                                        <input type="text" id="action" value="@returnOrder.Action" readonly="readonly">
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="field">
                                                                                                                    <label for="comments">Customer Comments:</label>
                                                                                                                    <div class="field-group">
                                                                                                                        <textarea readonly="readonly" rows="8" id="comments">@returnOrder.Comment</textarea>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="field">
                                                                                                                    <div class="field-group">
                                                                                                                        <a href="/jambuReturns/BigCommerce/Label?hash=@returnOrder.ShippingLabel">Shipping Label</a>
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                            </fieldset>

                                                                                                            <fieldset class="f-right form-horizontal">

                                                                                                                <legend>
                                                                                                                    <span><h2>Staff Notes</h2></span>
                                                                                                                </legend>

                                                                                                                <div id="ReturnNotes @returnOrder.ReturnId">
                                                                                                                    <input type="hidden" name="returnId" value="@returnOrder.ReturnId" />
                                                                                                                    <textarea id="note@{@returnOrder.ReturnId}" class="field-xlarge" rows="8" name="returnNotes">@returnOrder.Notes</textarea>
                                                                                                                </div>

                                                                                                                <ul class="dialog-actions list-horizontal">
                                                                                                                    <li><button type="button" class="btn btn-secondary" onclick="UpdateReturnNotes(@returnOrder.ReturnId);">Update Notes</button></li>
                                                                                                                </ul>

                                                                                                            </fieldset>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
        }
    }
                        }
                    </tbody>
                </table>

            </form>
            @{
                if (Model.ReturnOrders.Count > 0 && !Model.SearchString.IsEmpty())
                {
                    @Html.PagedListPager(Model.PagedProducts, page => Url.Action($"load", new { page, searchQuery = Model.SearchString }));
                }
                else if (Model.PagedProducts != null)
                {
                    @Html.PagedListPager(Model.PagedProducts, page => Url.Action("load", new { page }))
                }
            }


            <div id="status-modal-ok" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Successfully Updated</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="status-modal-fail" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Action Failed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn5.bigcommerce.com/shared/js/third_party_vendors_site_wide-1eacc648019365e1f0e68de6ad9bd058149315bd.js" type="text/javascript"></script>
        <script src="https://cdn5.bigcommerce.com/shared/bower/ng-dependencies-1.2/dist/ng-dependencies.min-db34a6f63c6035e7ccb141ad11486ac167413d26.js" type="text/javascript"></script>
        <script src="https://cdn5.bigcommerce.com/shared/bower/lodash/dist/lodash.min-b6f3f357d0914141593d39842f4410f6d03d3ebf.js" type="text/javascript"></script>
        @*<script src="https://cdn5.bigcommerce.com/shared/js/control_panel-827f9cef598d12ba95a7b1cb2e89ad9429410e77.js" type="text/javascript"></script>*@
        <script src="/jambuReturns/Scripts/controlpanel.js" type="text/javascript"></script>

        <script src="/jambuReturns/Scripts/Returns.js" type="text/javascript"></script>
        @*<script src="https://cdn5.bigcommerce.com/shared/js/templates-dfcf51291827225715c548aa942a98d199da657f.js" type="text/javascript"></script>*@
        <script src="/jambuReturns/Scripts/templates.js" type="text/javascript"></script>

        <script src="https://code.jquery.com/jquery-1.x-git.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/jambuReturns/Scripts/bootstrap.js"></script>

        <script type="text/javascript">
            function UpdateReturnNotes(id) {
                var returnNotes = $('#ReturnNotes ' + id),
                    submitButton = returnNotes.find('input[type=button]');

                submitButton
                    .attr('disabled', 'disabled');

                $.ajax({
                    url: '/jambuReturns/api/orders/updateNotes',
                    type: 'POST',
                    data: {
                        returnNotes: $('#note' + id).val(),
                        returnId: id
                    },
                    success: function () {
                        $('#status-modal-ok').modal('show');
                    },
                    error: function () {
                        $('#status-modal-fail').modal('show');
                    }
                });
            }

            function ConfirmIssueCredit(amount) {
                if (confirm('Are you sure you want to issue this customer with a store credit?\n\nThis customer will receive a store credit of %s for this return.'.replace('%s', amount))) {
                    return true;
                }
                return false;
            }

            function ToggleCollapsed(id) {
                $(".is-collapsed" + id).toggle();
            };

            function Delete() {
                $.ajax({
                    url: '/jambuReturns/api/orders/deleteOrder',
                    type: 'POST',
                    data: $('#returns-index').serialize(),
                    success: function () {
                        window.location.reload(true);
                    },
                    error: function () {
                        $('#status-modal-fail').modal('show');
                    }
                });
            }

            function Sort() {
                document.location.href = '/jambuReturns/BigCommerce/sort?sortOrder=asc';
            }
        </script>
    </div>

</body>
</html>