﻿@model bigcommerce_returns.Data.ShippingLabel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShippingLabel</title>
    <style>
        html, body, div, iframe {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        iframe {
            display: block;
            width: 100%;
            border: none;
        }
    </style>
</head>
<body>
<div>
    <iframe src="data:application/pdf;base64,@Model.Label"></iframe>
</div>
</body>
</html>
