﻿/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.17.1 - 2016-06-09T20:41:58.462Z
 * License: MIT
 */

.ui-select-highlight {
    font-weight: 700
}

.ui-select-offscreen {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0 !important;
    top: 0 !important
}

.ui-select-choices-row:hover {
    background-color: #f5f5f5
}

.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #D44950
}

.select2-result-single {
    padding-left: 0
}

.select-locked > .ui-select-match-close, .select2-locked > .select2-search-choice-close {
    display: none
}

body > .select2-container.open {
    z-index: 9999
}

.ui-select-container[theme=select2].direction-up .ui-select-match {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.ui-select-container[theme=select2].direction-up .ui-select-dropdown {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 1px;
    border-top-style: solid;
    box-shadow: 0 -4px 8px rgba(0,0,0,.25);
    margin-top: -4px
}

    .ui-select-container[theme=select2].direction-up .ui-select-dropdown .select2-search {
        margin-top: 4px
    }

.ui-select-container[theme=select2].direction-up.select2-dropdown-open .ui-select-match {
    border-bottom-color: #5897fb
}

.selectize-input.selectize-focus {
    border-color: #007FBB !important
}

.selectize-control > .selectize-dropdown, .selectize-control > .selectize-input > input {
    width: 100%
}

.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #D44950
}

.ui-select-container[theme=selectize].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0,0,0,.25);
    margin-top: -2px
}

.btn-default-focus {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
    text-decoration: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.ui-select-bootstrap .ui-select-toggle {
    position: relative
}

    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px
    }

.input-group > .ui-select-bootstrap.dropdown {
    position: static
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

    .input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
        border-radius: 4px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important
    }

.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: left !important
}

.ui-select-bootstrap > .ui-select-match > .caret {
    position: absolute;
    top: 45%;
    right: 15px
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: -1px
}

body > .ui-select-bootstrap.open {
    z-index: 1000
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: 3px 3px 0
}

    .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
        background-color: transparent !important;
        border: 0;
        outline: 0;
        height: 1.666666em;
        margin-bottom: 3px
    }

    .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 1.6em;
        line-height: .75
    }

    .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
        outline: 0;
        margin: 0 3px 3px 0
    }

.ui-select-multiple .ui-select-match-item {
    position: relative
}

    .ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
        pointer-events: none
    }

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    margin-right: 2px;
    border-left: 1px solid #428bca
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    margin-left: 2px;
    border-right: 1px solid #428bca
}

.ui-select-bootstrap .ui-select-choices-row > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

    .ui-select-bootstrap .ui-select-choices-row > a:focus, .ui-select-bootstrap .ui-select-choices-row > a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5
    }

.ui-select-bootstrap .ui-select-choices-row.active > a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca
}

.ui-select-bootstrap .ui-select-choices-row.active.disabled > a, .ui-select-bootstrap .ui-select-choices-row.disabled > a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff
}

.ui-select-match.ng-hide-add, .ui-select-search.ng-hide-add {
    display: none !important
}

.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950
}

.ui-select-container[theme=bootstrap].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0,0,0,.25)
}

.qview-view-orders .qview-create-shipment {
    width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    margin-top: -10px;
    min-height: 50px
}

#create-shipment-app .dropdown .panel-inline {
    display: none
}

    #create-shipment-app .dropdown .panel-inline li a {
        padding: 4px 17px
    }

        #create-shipment-app .dropdown .panel-inline li a:active, #create-shipment-app .dropdown .panel-inline li a:hover {
            color: #fff;
            background: #12799a
        }

#create-shipment-app .dropdown .panel-title {
    margin-bottom: 0
}

#create-shipment-app .dropdown.open .panel-inline {
    display: block
}

#create-shipment-app .dropdown .dropdown-trigger {
    outline: 0
}

@media (min-width:768px) {
    #create-shipment-app .modal-dialog {
        min-width: 768px;
        max-width: 1200px;
        width: 100%
    }
}

#create-shipment-app .modal-dialog {
    -webkit-box-shadow: none;
    box-shadow: none
}

#create-shipment-app accordion .panel {
    background-color: #fff;
    padding: 0 !important
}

#create-shipment-app accordion .accordion-toggle {
    color: #12799a;
    font-size: 1.5rem;
    padding: 10px 0 10px 35px !important
}

    #create-shipment-app accordion .accordion-toggle .icon {
        margin-right: 4px;
        color: #12799a
    }

    #create-shipment-app accordion .accordion-toggle span {
        padding-left: 30px
    }

    #create-shipment-app accordion .accordion-toggle:hover .icon {
        color: #fff
    }

#create-shipment-app h4 {
    font-size: 1.2em;
    font-weight: 400
}

#create-shipment-app .txt-large {
    font-size: 1.1em
}

#create-shipment-app .txt-medium {
    font-size: .95em
}

#create-shipment-app .txt-small {
    font-size: .75em
}

#create-shipment-app .txt-bold {
    font-weight: 700
}

#create-shipment-app .txt-moderate {
    font-weight: 500
}

#create-shipment-app .txt-lighter {
    color: #999
}

#create-shipment-app .txt-hint {
    font-style: italic;
    color: #999
}

#create-shipment-app input, #create-shipment-app select {
    width: 100%
}

#create-shipment-app select {
    height: 34px
}

#create-shipment-app .u-alignLeft {
    text-align: left
}

#create-shipment-app .u-alignRight {
    text-align: right
}

#create-shipment-app .u-alignCenter {
    text-align: center
}

#create-shipment-app .u-floatLeft {
    float: left
}

#create-shipment-app a[ng-click], #create-shipment-app a[ui-sref] {
    cursor: pointer
}

#create-shipment-app a[disabled] {
    cursor: default;
    color: #bbb
}

    #create-shipment-app a[disabled]:active, #create-shipment-app a[disabled]:focus, #create-shipment-app a[disabled]:hover {
        color: #bbb
    }

#create-shipment-app .transparent-modal .modal-content {
    padding: 0;
    background: 0 0;
    border: 0;
    box-shadow: none
}

#create-shipment-app .modal-content {
    min-height: 400px
}

#create-shipment-app .modal.fade .modal-dialog {
    opacity: 0
}

#create-shipment-app .modal.in .modal-dialog {
    opacity: 1
}

#create-shipment-app .alert {
    padding-left: 45px;
    text-align: left
}

    #create-shipment-app .alert .icon {
        position: absolute;
        left: 20px;
        top: 12px
    }

    #create-shipment-app .alert ul {
        list-style: disc;
        padding-left: 20px
    }

#create-shipment-app .alert-error {
    background-color: #FBE0E7
}

#create-shipment-app .icon-spinner {
    top: auto
}

#create-shipment-app .btn {
    -webkit-transition: none;
    transition: none
}

    #create-shipment-app .btn:active, #create-shipment-app .btn:focus, #create-shipment-app .btn:hover {
        -webkit-transition: all .1s linear;
        transition: all .1s linear
    }

    #create-shipment-app .btn .icon {
        vertical-align: middle
    }

    #create-shipment-app .btn.btn-link[disabled] {
        color: #999
    }

#create-shipment-app input, #create-shipment-app select, #create-shipment-app textarea {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none
}

    #create-shipment-app input.ng-dirty.ng-invalid, #create-shipment-app select.ng-dirty.ng-invalid, #create-shipment-app textarea.ng-dirty.ng-invalid {
        border-color: #f85e58
    }

    #create-shipment-app input.ng-dirty.ng-valid, #create-shipment-app select.ng-dirty.ng-valid, #create-shipment-app textarea.ng-dirty.ng-valid {
        border-color: #abce41
    }

    #create-shipment-app input.ng-dirty[disabled], #create-shipment-app input.ng-dirty[readonly], #create-shipment-app select.ng-dirty[disabled], #create-shipment-app select.ng-dirty[readonly], #create-shipment-app textarea.ng-dirty[disabled], #create-shipment-app textarea.ng-dirty[readonly] {
        border-color: #dadada
    }

    #create-shipment-app input:active, #create-shipment-app input:focus, #create-shipment-app input:hover, #create-shipment-app select:active, #create-shipment-app select:focus, #create-shipment-app select:hover, #create-shipment-app textarea:active, #create-shipment-app textarea:focus, #create-shipment-app textarea:hover {
        -webkit-transition: border .2s linear 0s,box-shadow .2s linear 0s;
        -moz-transition: border .2s linear 0s,box-shadow .2s linear 0s;
        transition: border .2s linear 0s,box-shadow .2s linear 0s
    }

#create-shipment-app .field {
    margin-bottom: 25px;
    padding-right: 10px
}

    #create-shipment-app .field > label {
        display: block;
        margin-bottom: 15px;
        margin-left: 0
    }

    #create-shipment-app .field > input + label {
        margin-bottom: 0
    }

#create-shipment-app .dialog {
    display: block;
    background: 0 0
}

#create-shipment-app .dialog-content {
    max-height: none;
    position: relative;
    min-height: 290px
}

#create-shipment-app .dialog-header {
    margin: 0 -1px
}

#create-shipment-app .dialog-heading {
    font-weight: 300
}

#create-shipment-app .dialog-footer {
    margin-top: 0;
    border: 0;
    padding: 15px 10px 5px;
    border-top: 1px solid #ccc
}

    #create-shipment-app .dialog-footer.disabled {
        pointer-events: none;
        opacity: .3;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%)
    }

#create-shipment-app .dialog-actions {
    padding-top: 0
}

    #create-shipment-app .dialog-actions li {
        vertical-align: middle
    }

#create-shipment-app .dialog-actions-button {
    height: 42px;
    line-height: 42px
}

#create-shipment-app .dialog-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.7)
}

#create-shipment-app .dialog-loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-left: -25px;
    margin-top: -25px
}

#create-shipment-app .dialog-error {
    text-align: center
}

    #create-shipment-app .dialog-error .dialog-content {
        min-height: 350px
    }

    #create-shipment-app .dialog-error .icon {
        font-size: 120px;
        font-size: 12rem
    }

#create-shipment-app .provider-group {
    vertical-align: top;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#create-shipment-app .provider-group-image {
    text-align: center;
    margin-left: 5px;
    width: 70px;
    display: inline-block
}

    #create-shipment-app .provider-group-image img {
        max-height: 40px
    }

#create-shipment-app .provider-group-details {
    padding: 5px 0 0 10px;
    height: 100%;
    line-height: 30px;
    display: inline
}

#create-shipment-app .provider-group-name {
    font-size: 1.6rem;
    display: inline
}

#create-shipment-app .hide-provider {
    display: none
}

#create-shipment-app .shipment-provider-dropdown {
    width: 100%
}

    #create-shipment-app .shipment-provider-dropdown .dropdown-trigger {
        height: 50px;
        width: 30px;
        padding-left: 7px;
        position: absolute;
        right: 0
    }

    #create-shipment-app .shipment-provider-dropdown .panel-inline {
        padding: 0;
        max-height: 250px;
        overflow-y: auto;
        right: 0
    }

        #create-shipment-app .shipment-provider-dropdown .panel-inline .provider-item {
            height: 50px;
            line-height: 39px
        }

            #create-shipment-app .shipment-provider-dropdown .panel-inline .provider-item a {
                padding: 5px 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                background: 0 0
            }

                #create-shipment-app .shipment-provider-dropdown .panel-inline .provider-item a:hover {
                    color: #000;
                    background: #F1F3F7
                }

                #create-shipment-app .shipment-provider-dropdown .panel-inline .provider-item a:focus {
                    color: #fff;
                    background: #12799a
                }

    #create-shipment-app .shipment-provider-dropdown .dropdown-divider {
        border-top: 1px solid #ccc
    }

#create-shipment-app .shipment-provider-dropdown-main {
    text-align: left;
    background-image: none;
    background-color: #fff;
    color: #313131;
    font-weight: 400;
    padding: 6px 10px;
    height: 50px;
    line-height: 39px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#create-shipment-app .help {
    color: #12799a;
    text-decoration: none;
    outline: 0 0 !important;
    cursor: default
}

#create-shipment-app .create-shipment-container {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px
}

    #create-shipment-app .create-shipment-container .dialog-content {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: fixed
    }

    #create-shipment-app .create-shipment-container .left-panel, #create-shipment-app .create-shipment-container .right-panel {
        display: table-cell;
        height: 100%;
        vertical-align: top
    }

    #create-shipment-app .create-shipment-container .left-panel {
        width: 50%;
        background-color: #f0f0f0
    }

    #create-shipment-app .create-shipment-container .right-panel {
        position: relative
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .old-panel {
        width: 100%;
        margin: 0;
        border: 1px solid #ccc;
        padding: 10px 0
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .currency-field input {
        width: 50px
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .currency-field span {
        margin-left: 50px
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .main-panel {
        padding-top: 25px;
        padding-bottom: 5px
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance strong {
        font-size: 15px
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .message-panel {
        padding-top: 5px
    }

        #create-shipment-app .create-shipment-container .shipping-add-balance .message-panel p {
            margin-bottom: 0
        }

    #create-shipment-app .create-shipment-container .shipping-add-balance .postage-add-msg .close {
        position: absolute;
        top: 15px;
        right: 10px
    }

    #create-shipment-app .create-shipment-container .shipping-add-balance .postage-add-msg .sr-only {
        display: none
    }

#create-shipment-app .warning {
    background-color: #fef8d9
}

    #create-shipment-app .warning .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        background-image: url(../img/icon-warning.svg)
    }

#create-shipment-app .create-shipment-actions {
    float: left;
    margin-left: 10px;
    margin-top: -2px
}

    #create-shipment-app .create-shipment-actions .icon-comment-label {
        vertical-align: middle
    }

    #create-shipment-app .create-shipment-actions .add-note {
        color: #12799a;
        font-weight: 400
    }

        #create-shipment-app .create-shipment-actions .add-note .icon {
            color: #afafaf
        }

    #create-shipment-app .create-shipment-actions .edit-note {
        color: #12799a;
        font-weight: 400
    }

        #create-shipment-app .create-shipment-actions .edit-note .icon {
            color: #12799a
        }

#create-shipment-app .shipment-create-note-sumary {
    color: #313131;
    margin-right: 10px
}

#create-shipment-app .main-content.ng-leave {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#create-shipment-app .main-content.ng-enter {
    -webkit-transition: all .3s .1s ease-out;
    -moz-transition: all .3s .1s ease-out;
    -ms-transition: all .3s .1s ease-out;
    -o-transition: all .3s .1s ease-out;
    transition: all .3s .1s ease-out;
    opacity: 0
}

    #create-shipment-app .main-content.ng-enter.ng-enter-active {
        opacity: 1
    }

#create-shipment-app .main-content.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0)
}

    #create-shipment-app .main-content.ng-leave.ng-leave-active {
        opacity: 0
    }

#create-shipment-app .shipment-create-details {
    padding: 20px 20px 71px
}

    #create-shipment-app .shipment-create-details fieldset {
        padding: 20px 0;
        border-top: 1pt solid #ccc
    }

        #create-shipment-app .shipment-create-details fieldset:nth-child(1) {
            padding: 0 0 10px;
            border-top: 0
        }

        #create-shipment-app .shipment-create-details fieldset:last-child {
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px
        }

    #create-shipment-app .shipment-create-details .total-rule {
        margin: 0 0 20px
    }

#create-shipment-app .customer-shipping-cost {
    margin-bottom: 10px
}

#create-shipment-app #shipment-insured-value {
    width: 100px
}

#create-shipment-app .shipping-cost-notAvailable {
    width: 260px
}

#create-shipment-app .shipping-cost-label {
    padding-bottom: 5px
}

#create-shipment-app .shipping-cost-value {
    line-height: 34px;
    height: 34px;
    margin-top: 32px;
    float: right
}

    #create-shipment-app .shipping-cost-value .icon {
        font-size: 1.2em;
        line-height: 34px
    }

#create-shipment-app .shipping-cost-savings {
    font-size: .9em;
    margin-top: 5px
}

#create-shipment-app .shipping-cost-pending, #create-shipment-app .shipping-preview-pending {
    display: inline-block;
    position: relative
}

#create-shipment-app .shipping-cost-error {
    color: #999
}

#create-shipment-app .shipment-create-details-order {
    position: relative
}

    #create-shipment-app .shipment-create-details-order input[type=checkbox] {
        border: 0;
        clip: rect(1px,1px,1px,1px);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        display: block
    }

        #create-shipment-app .shipment-create-details-order input[type=checkbox] + .form-label {
            padding-left: 25px;
            line-height: 20px
        }

            #create-shipment-app .shipment-create-details-order input[type=checkbox] + .form-label:after, #create-shipment-app .shipment-create-details-order input[type=checkbox] + .form-label:before {
                content: "";
                display: block;
                position: absolute;
                background: 0 0
            }

            #create-shipment-app .shipment-create-details-order input[type=checkbox] + .form-label:after {
                height: 20px;
                left: 2px;
                opacity: 0;
                top: 2px;
                width: 20px;
                color: #00abc9;
                background: url(../img/icon-tick.svg) no-repeat;
                background-size: 15px 15px;
                text-align: center
            }

            #create-shipment-app .shipment-create-details-order input[type=checkbox] + .form-label:before {
                border: 1px solid #e1e6eb;
                border-radius: 3px;
                height: 16px;
                left: 0;
                top: 0;
                width: 16px
            }

        #create-shipment-app .shipment-create-details-order input[type=checkbox]:checked + .form-label:after {
            opacity: 1
        }

        #create-shipment-app .shipment-create-details-order input[type=checkbox]:focus + .form-label:before {
            border-color: #00abc9
        }

#create-shipment-app .shipment-create-details-settings {
    margin-left: 25px;
    display: block;
    margin-top: -5px
}

#create-shipment-app .label-printing-description {
    margin-top: 15px
}

#create-shipment-app .shipment-tracking-hint {
    margin-bottom: 0
}

#create-shipment-app .shipment-tracking-select {
    width: 100%
}

#create-shipment-app .shipment-summary {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 250px;
    max-height: 574px;
    overflow-y: auto
}

    #create-shipment-app .shipment-summary h2 {
        margin-bottom: 10px
    }

#create-shipment-app .shipment-summary-row {
    padding: 20px 0;
    border-bottom: 1pt solid #ccc
}

    #create-shipment-app .shipment-summary-row dt {
        float: left;
        clear: left;
        width: 22%;
        text-align: right;
        padding-right: 20px;
        font-weight: 500
    }

@media (max-width:767px) {
    #create-shipment-app .shipment-summary-row dt {
        font-size: .8em
    }
}

#create-shipment-app .shipment-summary-row dd {
    display: inline-block;
    width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

    #create-shipment-app .shipment-summary-row dd .tooltip-inner {
        white-space: normal
    }

#create-shipment-app .shipment-summary-row address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#create-shipment-app .shipment-summary-row:last-child {
    padding: 20px 0;
    border-bottom: 0
}

#create-shipment-app .shipment-summary-row--items {
    overflow-x: hidden;
    padding: 0 0 20px
}

#create-shipment-app .shipment-summary-row--weight dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#create-shipment-app .shipment-summary-row--weight dd, #create-shipment-app .shipment-summary-row--weight dt {
    min-height: 70px;
    line-height: 40px
}

@media (max-width:1159px) {
    #create-shipment-app .shipment-summary-row--weight dd, #create-shipment-app .shipment-summary-row--weight dt {
        line-height: 1.7rem
    }
}

#create-shipment-app .shipment-summary-row--weight dd.shipment-address, #create-shipment-app .shipment-summary-row--weight dt.shipment-address {
    line-height: 2rem
}

#create-shipment-app .shipment-summary-row--weight dt.shipment-dimensions {
    line-height: 1.7rem
}

#create-shipment-app .shipment-summary-input {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px
}

    #create-shipment-app .shipment-summary-input label {
        font-weight: 700;
        cursor: default;
        padding-top: 3px;
        display: block;
        height: 26px;
        line-height: 1em;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    #create-shipment-app .shipment-summary-input input {
        padding: 10px;
        height: 40px;
        width: 50px;
        line-height: 1em;
        min-width: none;
        max-width: none;
        text-align: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

@media (max-width:1159px) {
    #create-shipment-app .shipment-summary-input input {
        padding: 6px 5px;
        height: 26px;
        width: 40px
    }
}

#create-shipment-app .shipment-summary-input .input-group {
    display: none
}

    #create-shipment-app .shipment-summary-input .input-group .input-group-addon {
        font-size: 14px;
        padding: 12px 5px;
        line-height: 1em;
        height: 40px;
        width: 62px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

@media (max-width:1159px) {
    #create-shipment-app .shipment-summary-input .input-group .input-group-addon {
        padding: 6px 2px;
        height: 26px
    }
}

@media (max-width:1023px) {
    #create-shipment-app .shipment-summary-input .input-group .input-group-addon {
        width: 24px
    }
}

#create-shipment-app .shipment-summary-input.editable label {
    padding: 5px 4px;
    border: 1px dashed #1db4e5;
    cursor: pointer;
    display: none
}

#create-shipment-app .shipment-summary-input.editable .input-group {
    display: block
}

#create-shipment-app .shipment-summary-input.editable.editting label {
    display: none
}

#create-shipment-app .shipment-summary-weight-input .input-group-addon {
    text-transform: lowercase
}

#create-shipment-app .shipment-add-note-field {
    height: 100px;
    width: 65%;
    resize: none
}

#create-shipment-app .shipment-add-note-hint {
    margin-left: 25%;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0
}

#create-shipment-app .input-label-abbrev {
    display: none
}

@media (max-width:1023px) {
    #create-shipment-app .input-label-abbrev {
        display: block
    }

    #create-shipment-app .input-label-full {
        display: none
    }

    #create-shipment-app .shipment-summary {
        max-height: 708px
    }
}

@media (max-width:767px) {
    #create-shipment-app .shipment-summary-addon {
        display: none
    }
}

#create-shipment-app .shipment-edit-items table {
    table-layout: fixed
}

#create-shipment-app .shipment-edit-items thead {
    text-align: left;
    font-weight: 500
}

    #create-shipment-app .shipment-edit-items thead th {
        padding: 0 5px 10px
    }

        #create-shipment-app .shipment-edit-items thead th:nth-child(1) {
            width: 70px;
            white-space: nowrap
        }

        #create-shipment-app .shipment-edit-items thead th:nth-child(2) {
            padding-left: -20px
        }

        #create-shipment-app .shipment-edit-items thead th:nth-child(3) {
            width: 70px;
            white-space: nowrap
        }

#create-shipment-app .shipment-edit-items td {
    line-height: 1rem;
    padding: 8px 5px
}

#create-shipment-app .shipment-edit-item-quantity {
    width: 53px;
    height: 40px;
    padding: 10px;
    text-align: right;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width:1159px) {
    #create-shipment-app .shipment-edit-item-quantity {
        width: 40px;
        height: 23px;
        padding: 0 2px
    }
}

#create-shipment-app .shipment-edit-item-quantity::-webkit-inner-spin-button, #create-shipment-app .shipment-edit-item-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

#create-shipment-app .shipment-edit-item-name, #create-shipment-app .shipment-edit-item-options {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    line-height: 1.7rem
}

#create-shipment-app .shipment-edit-item-name {
    cursor: pointer
}

#create-shipment-app .edit-items--all-shipped {
    color: #6eb764
}

#create-shipment-app .shipment-print .shipment-merchant-cost {
    font-size: 1.2em;
    font-weight: 700
}

#create-shipment-app .shipment-print .shipment-print-row {
    text-align: right
}

#create-shipment-app .shipment-print .btn-add-more {
    vertical-align: baseline;
    padding: 0
}

#create-shipment-app .shipment-print .shipment-print-actions {
    text-align: center;
    padding-bottom: 5px
}

    #create-shipment-app .shipment-print .shipment-print-actions .btn:only-child {
        min-width: 100px
    }

    #create-shipment-app .shipment-print .shipment-print-actions .buy-label {
        margin-top: 10px;
        color: #afafaf;
        margin-bottom: 25px
    }

#create-shipment-app .shipment-print .shipment-print-icon--label {
    background-image: url(../img/icon-postage-label.svg)
}

#create-shipment-app .shipment-print .shipment-print-icon--packingSlip {
    background-image: url(../img/packing-icon.png)
}

#create-shipment-app .shipment-print .shipment-refund-msg .close {
    position: absolute;
    top: 15px;
    right: 10px
}

#create-shipment-app .shipment-print .shipment-refund-msg .sr-only {
    display: none
}

#create-shipment-app .btn-back-to-shipment-details {
    float: left
}

#create-shipment-app .order-status-container {
    padding-top: 5px
}

    #create-shipment-app .order-status-container .order-status {
        display: inline-block
    }

    #create-shipment-app .order-status-container .order-status-pending {
        height: 1em;
        width: 1em;
        display: inline-block;
        position: relative
    }

    #create-shipment-app .order-status-container .order-status-description, #create-shipment-app .order-status-container .order-status-label {
        display: inline-block;
        font-size: 1.4rem
    }

    #create-shipment-app .order-status-container .order-status-description {
        font-weight: 700
    }

#create-shipment-app .dialog-actions--fixed {
    position: absolute;
    right: 10px
}

@media (max-width:800px) {
    #create-shipment-app .shipment-print-row {
        padding: 0 !important
    }
}

#create-shipment-app .print-shipment-summary {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 250px;
    max-height: 545px;
    overflow-y: auto
}

    #create-shipment-app .print-shipment-summary h2 {
        margin-bottom: 10px
    }

    #create-shipment-app .print-shipment-summary .shipment-summary-row {
        padding: 20px 0;
        border-bottom: 1pt solid #ccc
    }

        #create-shipment-app .print-shipment-summary .shipment-summary-row dd, #create-shipment-app .print-shipment-summary .shipment-summary-row dt {
            line-height: 1.7rem
        }

        #create-shipment-app .print-shipment-summary .shipment-summary-row dt {
            float: left;
            clear: left;
            width: 22%;
            text-align: right;
            padding-right: 20px;
            font-weight: 500
        }

        #create-shipment-app .print-shipment-summary .shipment-summary-row:last-child {
            padding-bottom: 0;
            border-bottom: 0
        }

    #create-shipment-app .print-shipment-summary .shipment-summary-item-detail, #create-shipment-app .print-shipment-summary .shipment-summary-item-quantity {
        padding: 0 5px 16px;
        display: inline-block;
        vertical-align: top
    }

    #create-shipment-app .print-shipment-summary .shipment-summary-item-detail {
        width: 80%
    }

    #create-shipment-app .print-shipment-summary .shipment-summary-item .shipment-summary-item-name {
        width: 100%
    }

    #create-shipment-app .print-shipment-summary .shipment-summary-item-name, #create-shipment-app .print-shipment-summary .shipment-summary-item-options {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative
    }

    #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd, #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dt {
        min-height: 50px
    }

        #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-weight > div {
            display: inline-block;
            padding-right: 10px
        }

            #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-dimensions > div > span, #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-weight > div > span {
                padding-left: 10px
            }

                #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-dimensions > div > span:first-child, #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-weight > div > span:first-child {
                    padding-left: 0
                }

        #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dd.shipment-address, #create-shipment-app .print-shipment-summary .shipment-summary-row-package-info dt.shipment-address {
            line-height: 2rem
        }

@media (max-width:1023px) {
    #create-shipment-app .print-shipment-summary {
        max-height: 650px
    }
}

#create-shipment-app .shipment-print-label {
    padding: 20px 20px 71px
}

    #create-shipment-app .shipment-print-label fieldset {
        padding: 20px 0;
        border-top: 1pt solid #ccc
    }

        #create-shipment-app .shipment-print-label fieldset:nth-child(2) {
            padding: 20px 0 10px;
            border-top: 0
        }

        #create-shipment-app .shipment-print-label fieldset:last-child {
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px
        }

    #create-shipment-app .shipment-print-label .shipment-print-label-options {
        position: relative;
        padding-bottom: 20px;
        height: 79px
    }

        #create-shipment-app .shipment-print-label .shipment-print-label-options > label {
            position: absolute;
            width: 100%;
            left: 50px
        }

    #create-shipment-app .shipment-print-label .shipment-print-label-option {
        float: left;
        padding-top: 33px
    }

    #create-shipment-app .shipment-print-label .shipment-print-label-option-radio {
        display: inline-block;
        width: 13px;
        box-shadow: none;
        opacity: 1;
        position: static
    }

    #create-shipment-app .shipment-print-label .shipment-print-icon {
        background-repeat: no-repeat;
        background-position: center;
        max-width: 80px;
        height: 79px;
        float: left
    }

    #create-shipment-app .shipment-print-label .shipment-print-option-info {
        height: 79px;
        margin-top: 20px;
        left: 10px;
        position: relative
    }

    #create-shipment-app .shipment-print-label .shipment-print-label-preview-btn {
        padding: 0;
        font-size: .9em
    }

    #create-shipment-app .shipment-print-label .shipment-print-option-info span {
        display: block;
        font-weight: 500;
        font-size: 1em;
        line-height: 2em
    }

    #create-shipment-app .shipment-print-label .shipment-print-icon-4x6 {
        background-image: url(../img/label-4x6-icon.png);
        width: 39px
    }

    #create-shipment-app .shipment-print-label .shipment-print-icon-6x4, #create-shipment-app .shipment-print-label .shipment-print-icon-8x5_5 {
        background-image: url(../img/label-6x4-icon.png);
        width: 56px
    }

    #create-shipment-app .shipment-print-label .shipment-print-icon-8_5x11 {
        background-image: url(../img/label-8x11-icon.png);
        width: 56px
    }

    #create-shipment-app .shipment-print-label .shipment-print-account .field {
        display: inline-block
    }

    #create-shipment-app .shipment-print-label .shipping-add-balance {
        font-size: 1.2rem
    }

        #create-shipment-app .shipment-print-label .shipping-add-balance .txt-bold {
            font-weight: 400
        }

        #create-shipment-app .shipment-print-label .shipping-add-balance .show-add-more {
            background-color: #f0f0f0
        }

            #create-shipment-app .shipment-print-label .shipping-add-balance .show-add-more .txt-bold {
                font-weight: 500
            }

            #create-shipment-app .shipment-print-label .shipping-add-balance .show-add-more .balance-info {
                float: left;
                line-height: 32px;
                width: calc(100% - 300px);
                font-size: 1.4rem
            }

            #create-shipment-app .shipment-print-label .shipping-add-balance .show-add-more .balance-action {
                width: 280px;
                display: inline-block
            }

                #create-shipment-app .shipment-print-label .shipping-add-balance .show-add-more .balance-action .field .field-group button {
                    margin-left: 20px
                }

        #create-shipment-app .shipment-print-label .shipping-add-balance .warning {
            background-color: #fef8d9
        }

        #create-shipment-app .shipment-print-label .shipping-add-balance .main-panel {
            padding-bottom: 0
        }

    #create-shipment-app .shipment-print-label .total-rule {
        margin: 0 0 20px
    }

    #create-shipment-app .shipment-print-label .insurance-display-message span {
        font-weight: 500
    }

#create-shipment-app .shipment-error .alert {
    margin-bottom: -20px
}

#create-shipment-app .shipment-tracking-hint {
    margin-top: 20px
}

#create-shipment-app .setup-account {
    margin: 100px
}

    #create-shipment-app .setup-account .printer-icon {
        background: url(../img/printer-icon.png) no-repeat center;
        height: 90px
    }

    #create-shipment-app .setup-account .setup-account-message {
        line-height: 2rem;
        margin-bottom: 30px;
        width: 100%;
        text-align: center
    }

    #create-shipment-app .setup-account .setup-account-action {
        text-align: center
    }

#create-shipment-app .shipment-legacy-view {
    overflow: auto;
    margin-bottom: 10px
}

    #create-shipment-app .shipment-legacy-view .dialog {
        border: 0;
        box-shadow: none
    }

    #create-shipment-app .shipment-legacy-view .dialog-body {
        border: 0
    }

    #create-shipment-app .shipment-legacy-view .dialog-header {
        color: #000;
        border: 0;
        background-color: transparent
    }

        #create-shipment-app .shipment-legacy-view .dialog-header .dialog-heading {
            color: #000
        }

    #create-shipment-app .shipment-legacy-view .dialog-content {
        min-height: 0
    }

    #create-shipment-app .shipment-legacy-view .dialog-footer {
        display: none
    }

    #create-shipment-app .shipment-legacy-view .quickview {
        max-height: 300px;
        overflow-y: auto
    }

#create-shipment-app .endicia-internal-registration.chromeless-iframe :not(.dialog-overlay) {
    padding: 0;
    background: 0 0;
    border: 0;
    box-shadow: none
}

#create-shipment-app .endicia-internal-registration.chromeless-iframe .dialog {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    margin-left: auto !important;
    top: 0 !important;
    margin-top: 0 !important
}

#create-shipment-app .endicia-internal-registration.chromeless-iframe .dialog-content {
    max-height: 678px;
    overflow: hidden
}

@media screen and (max-height:700px) {
    #create-shipment-app .endicia-internal-registration.chromeless-iframe .dialog-content {
        height: 478px
    }
}

#create-shipment-app .endicia-internal-registration.chromeless-iframe .dialog-header {
    display: none
}

#create-shipment-app .endicia-internal-registration.chromeless-iframe iframe {
    height: 710px;
    width: 100%
}

@media screen and (max-height:700px) {
    #create-shipment-app .endicia-internal-registration.chromeless-iframe iframe {
        height: 510px
    }
}

#create-shipment-app .endicia-internal-registration.chromeless-iframe iframe .modal.is-active {
    top: 0 !important;
    -webkit-transform: scale(1) translateY(0%) !important;
    transform: scale(1) translateY(0%) !important
}

.create_shipment_tooltip {
    font-size: .9em
}
