﻿.bc-ng .modal-open {
    overflow: hidden
}

.bc-ng .modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

    .bc-ng .modal.fade .modal-dialog {
        -webkit-transform: translate(0,-25%);
        -ms-transform: translate(0,-25%);
        transform: translate(0,-25%);
        -webkit-transition: -webkit-transform .3s ease-out;
        -moz-transition: -moz-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out
    }

    .bc-ng .modal.in .modal-dialog {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0)
    }

.bc-ng .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.bc-ng .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0
}

.bc-ng .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

    .bc-ng .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0)
    }

    .bc-ng .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50)
    }

.bc-ng .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857px
}

    .bc-ng .modal-header .close {
        margin-top: -2px
    }

.bc-ng .modal-title {
    margin: 0;
    line-height: 1.42857
}

.bc-ng .modal-body {
    position: relative;
    padding: 20px
}

.bc-ng .modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

    .bc-ng .modal-footer:after, .bc-ng .modal-footer:before {
        content: " ";
        display: table
    }

    .bc-ng .modal-footer:after {
        clear: both
    }

    .bc-ng .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0
    }

    .bc-ng .modal-footer .btn-group .btn + .btn {
        margin-left: -1px
    }

    .bc-ng .modal-footer .btn-block + .btn-block {
        margin-left: 0
    }

@media (min-width:768px) {
    .bc-ng .modal-dialog {
        width: 480px;
        margin: 30px auto
    }

    .bc-ng .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .bc-ng .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .bc-ng .modal-lg {
        width: 900px
    }
}

.bc-ng .tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    background: 0 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

    .bc-ng .tooltip.in {
        opacity: .9;
        filter: alpha(opacity=90)
    }

    .bc-ng .tooltip.top {
        margin-top: -3px;
        padding: 5px 0
    }

    .bc-ng .tooltip.right {
        margin-left: 3px;
        padding: 0 5px
    }

    .bc-ng .tooltip.bottom {
        margin-top: 3px;
        padding: 5px 0
    }

    .bc-ng .tooltip.left {
        margin-left: -3px;
        padding: 0 5px
    }

.bc-ng .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    border: 1px solid #000
}

.bc-ng .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.bc-ng .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.bc-ng .tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.bc-ng .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.bc-ng .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}

.bc-ng .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}

.bc-ng .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.bc-ng .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.bc-ng .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.bc-ng .carousel {
    position: relative
}

.bc-ng .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%
}

    .bc-ng .carousel-inner > .item {
        display: none;
        position: relative;
        -webkit-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left
    }

        .bc-ng .carousel-inner > .item > a > img, .bc-ng .carousel-inner > .item > img {
            display: block;
            max-width: 100%;
            height: auto;
            line-height: 1
        }

    .bc-ng .carousel-inner > .active, .bc-ng .carousel-inner > .next, .bc-ng .carousel-inner > .prev {
        display: block
    }

    .bc-ng .carousel-inner > .active {
        left: 0
    }

    .bc-ng .carousel-inner > .next, .bc-ng .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%
    }

    .bc-ng .carousel-inner > .next {
        left: 100%
    }

    .bc-ng .carousel-inner > .prev {
        left: -100%
    }

        .bc-ng .carousel-inner > .next.left, .bc-ng .carousel-inner > .prev.right {
            left: 0
        }

    .bc-ng .carousel-inner > .active.left {
        left: -100%
    }

    .bc-ng .carousel-inner > .active.right {
        left: 100%
    }

.bc-ng .carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6)
}

    .bc-ng .carousel-control.left {
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
    }

    .bc-ng .carousel-control.right {
        left: auto;
        right: 0;
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
    }

    .bc-ng .carousel-control:focus, .bc-ng .carousel-control:hover {
        outline: 0;
        color: #fff;
        text-decoration: none;
        opacity: .9;
        filter: alpha(opacity=90)
    }

    .bc-ng .carousel-control .glyphicon-chevron-left, .bc-ng .carousel-control .glyphicon-chevron-right, .bc-ng .carousel-control .icon-next, .bc-ng .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block
    }

    .bc-ng .carousel-control .glyphicon-chevron-left, .bc-ng .carousel-control .icon-prev {
        left: 50%
    }

    .bc-ng .carousel-control .glyphicon-chevron-right, .bc-ng .carousel-control .icon-next {
        right: 50%
    }

    .bc-ng .carousel-control .icon-next, .bc-ng .carousel-control .icon-prev {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        font-family: serif
    }

        .bc-ng .carousel-control .icon-prev:before {
            content: '\2039'
        }

        .bc-ng .carousel-control .icon-next:before {
            content: '\203a'
        }

.bc-ng .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center
}

    .bc-ng .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        border: 1px solid #fff;
        border-radius: 10px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: transparent
    }

    .bc-ng .carousel-indicators .active {
        margin: 0;
        width: 12px;
        height: 12px;
        background-color: #fff
    }

.bc-ng .carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6)
}

    .bc-ng .carousel-caption .btn {
        text-shadow: none
    }

@media screen and (min-width:768px) {
    .bc-ng .carousel-control .glyphicon-chevron-left, .bc-ng .carousel-control .glyphicon-chevron-right, .bc-ng .carousel-control .icon-next, .bc-ng .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px
    }

    .bc-ng .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px
    }

    .bc-ng .carousel-indicators {
        bottom: 20px
    }
}

.bc-ng .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.bc-ng [dropdown] {
    position: relative
}

.bc-ng .dropdown-toggle:focus {
    outline: 0
}

.bc-ng .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box
}

    .bc-ng .dropdown-menu.pull-right {
        right: 0;
        left: auto
    }

    .bc-ng .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5
    }

    .bc-ng .dropdown-menu > li > a, .bc-ng .dropdown-menu > li > button {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857;
        color: #333;
        white-space: nowrap
    }

        .bc-ng .dropdown-menu > li > a:focus, .bc-ng .dropdown-menu > li > a:hover {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5
        }

    .bc-ng .dropdown-menu > .active > a, .bc-ng .dropdown-menu > .active > a:focus, .bc-ng .dropdown-menu > .active > a:hover {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca
    }

    .bc-ng .dropdown-menu > .disabled > a, .bc-ng .dropdown-menu > .disabled > a:focus, .bc-ng .dropdown-menu > .disabled > a:hover {
        color: #999
    }

        .bc-ng .dropdown-menu > .disabled > a:focus, .bc-ng .dropdown-menu > .disabled > a:hover {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            cursor: not-allowed
        }

.bc-ng .open > .dropdown-menu {
    display: block
}

.bc-ng .open > a {
    outline: 0
}

.bc-ng .dropdown-menu-right {
    left: auto;
    right: 0
}

.bc-ng .dropdown-menu-left {
    left: 0;
    right: auto
}

.bc-ng .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #999
}

.bc-ng .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}

.bc-ng .pull-right > .dropdown-menu {
    right: 0;
    left: auto
}

.bc-ng .dropup .caret, .bc-ng .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""
}

.bc-ng .dropup .dropdown-menu, .bc-ng .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}

@media (min-width:768px) {
    .bc-ng .navbar-right .dropdown-menu {
        right: 0;
        left: auto
    }

    .bc-ng .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
}

.bc-ng .collapse {
    display: none
}

    .bc-ng .collapse.in {
        display: block
    }

.bc-ng tr.collapse.in {
    display: table-row
}

.bc-ng tbody.collapse.in {
    display: table-row-group
}

.bc-ng .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease
}

@-webkit-keyframes progress-bar-stripes {
    .bc-ng from {
        background-position: 40px 0
    }

    .bc-ng to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    .bc-ng from {
        background-position: 40px 0
    }

    .bc-ng to {
        background-position: 0 0
    }
}

.bc-ng .progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
}

.bc-ng .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

.bc-ng .progress-bar-striped, .bc-ng .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px
}

.bc-ng .progress-bar.active, .bc-ng .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite
}

.bc-ng .progress-bar[aria-valuenow="1"], .bc-ng .progress-bar[aria-valuenow="2"] {
    min-width: 30px
}

.bc-ng .progress-bar[aria-valuenow="0"] {
    color: #999;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    box-shadow: none
}

.bc-ng .progress-bar-success {
    background-color: #5cb85c
}

.progress-striped .bc-ng .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.bc-ng .progress-bar-info {
    background-color: #5bc0de
}

.progress-striped .bc-ng .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.bc-ng .progress-bar-warning {
    background-color: #f0ad4e
}

.progress-striped .bc-ng .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.bc-ng .progress-bar-danger {
    background-color: #d9534f
}

.progress-striped .bc-ng .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.bc-ng .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

    .bc-ng .alert h4 {
        margin-top: 0;
        color: inherit
    }

    .bc-ng .alert .alert-link {
        font-weight: 700
    }

    .bc-ng .alert > p, .bc-ng .alert > ul {
        margin-bottom: 0
    }

        .bc-ng .alert > p + p {
            margin-top: 5px
        }

.bc-ng .alert-dismissable, .bc-ng .alert-dismissible {
    padding-right: 35px
}

    .bc-ng .alert-dismissable .close, .bc-ng .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit
    }

.bc-ng .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d
}

    .bc-ng .alert-success hr {
        border-top-color: #c9e2b3
    }

    .bc-ng .alert-success .alert-link {
        color: #2b542c
    }

.bc-ng .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}

    .bc-ng .alert-info hr {
        border-top-color: #a6e1ec
    }

    .bc-ng .alert-info .alert-link {
        color: #245269
    }

.bc-ng .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

    .bc-ng .alert-warning hr {
        border-top-color: #f7e1b5
    }

    .bc-ng .alert-warning .alert-link {
        color: #66512c
    }

.bc-ng .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

    .bc-ng .alert-danger hr {
        border-top-color: #e4b9c0
    }

    .bc-ng .alert-danger .alert-link {
        color: #843534
    }
