﻿@model bigcommerce_returns.Data.ApplicationConfiguration
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BigCommerce Returns Application Configuration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/jambuReturns/Content/normalize.css">
    <link rel="stylesheet" href="/jambuReturns/Content/bootstrap.css">
    <link rel="stylesheet" href="/jambuReturns/Content/main.css">    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BigCommerce Returns Application</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/jambuReturns/BigCommerce/load?signed_payload=@ViewBag.payload">Return Requests</a>
                    </li>
                    <li>
                        <a href="/jambuReturns/BigCommerce/config?payload=@ViewBag.payload">Application Configuration</a>
                    </li>
                    <li class="active">
                        <a href="/jambuReturns/Report?payload=@ViewBag.payload">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="page-messages">
        <p class="bg-success" style="display:none;">Sales Return Report creation started.</p>
    </div>
    <div class="page-header">
        <h1>Reports</h1>
    </div>
    <form method="post">
        <div class="form-group">
            <h4>Sales Report Configuration</h4>
        </div>
        <div class="well">
            <p>Start Date: <input name="dp1" type="text" data-date-format="mm/dd/yy" id="dp1"></p>
            <p>End Date: <input name="dp2" type="text"  data-date-format="mm/dd/yy" id="dp2"></p>
        </div>
        <button type="submit"
                class="btn btn-default btn-primary">
            Generate Report
        </button>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">BigCommerce Returns Application.</p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">
  $( function() {
      $("#dp1").datepicker();
    });
    $(function () {
        $("#dp2").datepicker();
    });
    $(document).ready(function () {
        function submitForm() {
            $.ajax({
                async: true,
                type: 'post',
                url:'https://ecommerce.vidagroup.com/jambuReturns/Report/CreateReport/',
                dataType: "jsonp",
                data: {
                    StartDate: $('#dp1').datepicker({ dateFormat: 'mm/dd/yyyy' }).val(),
                    EndDate: $('#dp2').datepicker({ dateFormat: 'mm/dd/yyyy' }).val()
                },
                success: function () {
                    $('.bg-success').show();
                },
                error: function () {
                    $('.bg-success').show();
                }
            });
            window.scrollTo(0, 0);
            $('.bg-success').show();
            return false;
        }

        $('form').on('submit', submitForm);
    });
</script>
</body>
</html>
